@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

body {

    background-color: black;
    color: #ffff;
}

.container {
    display: flex;
    height: 100vh;
}

.meu-botao {
        position: absolute;
        top: 10px; /* Ajuste a dist칙ncia do topo conforme necess치rio */
        right: 10px; /* Ajuste a dist칙ncia da direita conforme necess치rio */
        border-radius: 20px;
        color: #000;
        border: none;
        padding: 12px 20px;
        font-weight: 600;
        font-size: 15px;
        cursor: pointer;
        transition: background-color 0.2s;
      
}

.meu-botao:hover {

    background-color: #a7a7a7;

}

.sidebar {

    width: 300px;
    background-color: #121212;
    padding: 24px 24px 90px 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-logo i {
    font-size: 24px;
}

.nav-library {

    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-library i,
.nav-library p {
    color: #b7b3b6;
    font-size: 14px;
    cursor: pointer;
}

.nav-playlist,
.nav-podcast {

    background-color: #242424;
    padding: 16px;
    border-radius: 8px;
}


.nav-playlist button,
.nav-podcast button {

    background-color: #ffff;
    color: #000;
    border: none;
    padding: 6px 10px;
    margin-top: 16px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 20px;

}

.nav-playlist p,
.nav-podcast p {

    font-size: 12px;


}


.nav-footer {

    margin-top: auto;
}



.nav-footer a {

    color: #a7a7a7;
    text-decoration: none;
    font-size: 12px;
    margin-right: 12px;
    margin-bottom: 8px;



}

.nav-lang-button {

    background-color: transparent;
    border: 1px solid #fff;
    color: #ffff;
    padding: 8px 12px;
    margin-top: 16px;
    cursor: pointer;
    border-radius: 20px;
    


}

main {

    padding: 24px;
    flex-grow: 1;
    overflow-y: auto;

}

.search-bar {

    display: flex;
    align-items: center;
    background-color: #242424;
    padding: 8px 16px;
    border-radius: 20px;
    width: 300px;

}

.search-bar input {

    background-color: transparent;
    border: none;
    width: 100%;
    margin-left: 10px;
    outline: none;
}

.artists-grid,
.albums-grid {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 24px;
    margin-bottom: 40px;


}

.artist-card,
.album-card {

    background-color: #181818;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s;

}

.artist-card:hover,
.album-card:hover {

    background-color: #282828;

}

.artist-card img,
.album-card img {

    width: 100%;
    max-height: 70%;
    border-radius: 50%;
    margin-bottom: 16px;

}


.artist-card h3,
.album-card h3 {

    font-size: 12px;
}


.artist-card p,
.album-card p {

    font-size: 10px;
    color: #b7b3b6;
    margin-top: 5px;
}


.content {
    margin-top: 40px;
}

.content h2 {
    margin-bottom: 2px;

}

.banner {

    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(90deg, #AF2896, #509BF5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 14px;

}

.banner h2 {

    font-size: 14px;
}



.banner p {

    font-size: 10px;
}

.banner button {

    border-radius: 20px;
    color: #000;
    border: none;
    padding: 12px 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
}

.banner button:hover {

    background-color: #a7a7a7;

}